spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/postgres
    username: user
    password: password

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml

  account:
    generation:
      numberOfAccounts: 100
      accountNumberLength: 20
      schedule:
        cron: "0 0 * * * *"

server:
  port: 8090

logging:
  level:
    root: info
